@font-face {
    font-family: "Cocogoose SemiBold";
    src: url("../font/cocogoose/cocogoose.ttf") format("opentype");
}

body {
    margin: 0;
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
}

#top-logo {
    width: 6.25em; /*100px*/
    position: absolute;
    top: 5px;
    left: -3px;
    z-index: 200;
}

#top-logo img {
    max-width: 100%;
}

nav.desktop-menu-wrapper {
    width: 70px;
    height: 70px;
    background-color: #000;
    position: fixed;
    top: 17px;
    right: 17px;
    left: auto;
    cursor: pointer;
    z-index: 300;
    transition: 0.4s all ease-out;
    max-width: 400px;
    overflow: hidden;
}

nav.desktop-menu-wrapper img {
    margin-top: -5px;
}

nav.desktop-menu-wrapper.menu-click {
    width: 75vw;
    height: 450px;
    z-index: 200;
}


nav.desktop-menu-wrapper .menu-container-inner {
    position: relative;
    color: #fff;
    font-size: 1.25em;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    width: 80%;
    font-family: "Roboto medium", sans-serif;
}

nav.desktop-menu-wrapper .menu-container-inner ul {
    list-style-type: none;
    margin-top: 55px;
}


nav.desktop-menu-wrapper .menu-container-inner ul li {
    width: 280px;
    text-align: left;
}

nav.desktop-menu-wrapper .menu-container-inner ul li a {
    text-decoration: none;
    color: #fff;
}

nav.desktop-menu-wrapper .menu-container-inner ul li span.highlight {
    color: #a3d5bd;
}

nav.desktop-menu-wrapper .menu-container-inner ul li span.highlight:hover {
    color: #fff;
}

nav.desktop-menu-wrapper .menu-container-inner ul li a:hover {
    color: #a3d5bd;
}

nav.desktop-menu-wrapper img {
    position: absolute;
    right: 22px;
    left: auto;
    top: 29px;
    width: 25px;
    z-index: inherit;
}

.outer-container {
    width: 100vw;
    background-color: #f5f5f5;
}

.gradient-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*height: 1100px;*/
    height: 700px;
    background: linear-gradient(#a3d5bd,#f5f5f5) no-repeat top left;

}

.gradient-container .title-container {
    margin-top: 350px;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;}

.gradient-container .artwork {
    width: 65vw;
    position: absolute;
    top: 130px;
    z-index: 100;
}

.gradient-container .title-container h1 {
    margin: 0;
    font-family: "Cocogoose SemiBold", sans-serif;
    font-size: 6em;
    letter-spacing: 0.05em;
}

.gradient-container .title-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2em; /*32px*/
}

.gradient-container .title-container h2.date {
    margin: 0;
    padding-right: 10px;
}

.content {
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;

    align-items: center;
}


.content h2 {
    position: inherit;
    margin: 0;
    /*left: -2.25%;*/
    font-family: "Cocogoose SemiBold", sans-serif;
    font-size: 3.2em; /*55px*/
    letter-spacing: 0.025em;
    padding-top: 3.125rem; /*50px*/
    padding-bottom: 1.5rem;
}

.content h3 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 2.1875em; /*35px*/
    letter-spacing: 0.025em;
}

.content .desktop-table {
    /*margin: 0 auto;*/
}

.content table.desktop-pricing {
    width: 75vw; /*1200px*/
    border-collapse: collapse;
    line-height: 26px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: "Roboto medium", sans-serif;

    display: none;
}

.content .desktop-pricing th:not(:first-child), .content .mobile-pricing th {
    font-size: 1.25em; /*20px*/
    letter-spacing: 1px;
    border: 3px solid #fff;
    padding: 8px 20px 8px 20px;
    line-height: 27px;
    width: 12.5em; /*200px*/

}

.content .desktop-pricing tbody {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}


.content .desktop-pricing tbody tr td.text {
    width: 12.5rem; /*200px*/
    text-align: end;
    font-size: 0.875rem; /*14px*/
    line-height: 1rem;
}


.content .desktop-pricing tbody tr td {
    border-right: 3px solid #fff;
    padding-top: 0.75em;
}
.content .desktop-pricing tbody tr td img {
    width: 17px;
    height: 17px;
    text-align: center;
}

.content .desktop-pricing tbody tr td img.x-symbol {
    width: 20px;
    height: 20px;
}

.content table.mobile-pricing {
    border-collapse: collapse;
    /*width: 21.875em; !*350px*!*/
    margin-top: 1.25rem;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
    display: block;
    font-family: "Roboto medium", sans-serif;
}

.content .mobile-pricing th.pro-pass, .content .desktop-pricing th.pro-pass {
    background-color: #000;
    color: #fff;
}

.content .mobile-pricing tbody {
    border: 0.1875rem solid #fff;
    text-align: center;
    font-size: 1em;
    line-height: 1.625em;
    font-weight: 400;
}

.content .mobile-pricing tbody tr.price td, .content .desktop-pricing tbody tr.price td {
    font-size: 3.125em; /*50px*/
    font-weight: 800;
    padding-top: 2.5rem; /*40px*/
    padding-bottom: 2.5rem; /*40px*/
}

.content .mobile-pricing tbody td, .content .desktop-pricing tbody td {
    padding: 0.5rem 1.25rem 0.5rem 1.25rem; /*8px 20px 8px 20px*/
}

.content .button {
    width: 280px;
    background-color: #a3d5bd;
    border: none;
    color: white;
    padding: 0.75em 0.5em 0.75em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    letter-spacing: 0.0625em;
    font-size: 1.25em; /*20px*/
    margin: 1.875em 0.125em;
    cursor: pointer;
    border-radius: 1em;
}

.content .button:hover {
    background-color: #000;
}

.content .day-list {
    align-items: initial;
    width: 90vw;
    margin-bottom: 100px;
}



.content .collapsible {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.25em;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    /*flex-shrink: 0;*/
}


.content .collapsible:before {
    content: '+';
    position: absolute;
    display: inline-block;
    left: 25px;
    font-size: 20px;
}

.content .collapsible.active:before {
    content: '-';
    position: absolute;
    display: inline-block;
    left: 25px;
    font-size: 20px;
}

.content .active, .collapsible:hover {
    background-color: #fff;
    color: #000;
}


.content .main-event h3 {
    font-size: 1.15em;
}

.content .main-event h3 span.event-label {
    background-color: #a3d5bd;
    color: white;
    font-size: 0.9em;
    padding: 3px;
    font-weight: 400;
    margin-right: 20px;
}

.content .event-list {
    padding: 0;
    /*display: none;*/
    overflow: hidden;
    font-family: "Roboto medium", sans-serif;
    font-weight: 400;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.25s ease-out,
                opacity 0.35s ease-out;
}

.content .collapsible.active + .details-container > .event-list {
    /*display: block;*/
    opacity: 1;
    max-height: 100vh;
}

.content .event-list ul {
    padding: 0;
}

.content .event-list ul li {
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

.content .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 110px;
}

.content .icons .icon-container {
    display: flex;
    flex-direction: row;
}

.content .icons figure {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 6.5em; /*104px*/
}

.content .icons figure.logo-resize {
    width: 5em;
}

.content .icons figure img {
    max-width: 100%;
}

footer {
    background-color: #a3d5bd;
    height: 300px;
    left: 0;
    bottom: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .arrow-up a {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #000;
}




@media screen and (min-width: 800px) {

    body {
        font-size: 18px;
    }

    #top-logo {
        width: 8.125em; /*130px*/
        position: fixed;
        top: 16px;
        left: 14px;
    }

    nav.desktop-menu-wrapper {
        top: 300px;
        left: 132px;
        height: 570px;
        width: 80px;
    }

    nav.desktop-menu-wrapper img {
        left: 27px;
        top: 30px;
    }

    nav.desktop-menu-wrapper .menu-container-inner ul li {
        text-align: right;
    }

    nav.desktop-menu-wrapper.menu-click {
        width: 400px;
        height: 570px;
        z-index: 200;
    }

    .outer-container {
        /*width: 89vw;*/
        margin-left: 170px;
    }

    .gradient-container {
        height: 90vh;
        min-height: 70vw;
    }

    .gradient-container .artwork {
        top: 220px;
    }

    .gradient-container .title-container h1 {
        font-size: 8.125em; /* 130px*/
    }

    .content {
        width: 90%;
        margin-left: 10%;
    }

    .content > h2 {
        width: 100%;
        font-size: 3.4375em; /*55px*/
    }

    .content table.mobile-pricing {
        display: none;
    }

    .content table.desktop-pricing {
        display: table;
    }

    .content .collapsible {
        width: 40%;
        flex-shrink: 0;
    }

    .content .day-list {
        width: 75vw;
    }

    /*.content .day-list > * {*/
        /*margin-left: 12vw;*/
    /*}*/

    .content .day-list .day-list-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: 15vw;

    }

    .content .day-list .day-list-container .details-container {
        margin-left: 50px;
        margin-top: 35px;
    }

}

@media screen and (min-width: 500px) {

    .gradient-container .title-container {
        width: 75%;
        margin: 0;
        top: 150px;
        position: absolute;
        max-height: 900px;
    }

    .gradient-container .artwork {
        top: 170px;
    }

    .gradient-container .title-container h1.title1 {
        position: absolute;
        top: 0;
        left: 5vw;
    }

    .gradient-container .title-container h1.title2 {
        position: absolute;
        bottom: 0;
        right:0;
    }

    .gradient-container .title-container h1.title2 > * {
        display: inline-block;
    }

    .gradient-container .title-container h2.date {
        position: absolute;
        bottom: -50px;
        right: 3%;
    }


}




